/* @media (max-width: px) */
@media (max-width: 1200px) {
    .ftext p {
        width: 285px;
        line-height: 30px;
    }

    .footer-row {
        flex-wrap: wrap;
        align-items: center;
    }

    .fmenu {
        padding: 0;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1130px) {
    .hero-title h1 {
        font-size: 55px;
        line-height: 70px;
    }

    .offer-row {
        flex-wrap: wrap;
        row-gap: 30px;
    }
}

@media (max-width: 1050px) {
    .hero-title h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .hero-top {
        padding: 70px 215px 135px 215px;
    }
}

@media (max-width: 930px) {
    .hero-title h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .hero-text p {
        width: 100%;
        margin: 0 auto;
    }

    .hero-bottom {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .pari-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pari-left {
        margin-bottom: 50px;
    }

    .middle {
        display: none;
    }
}

@media (max-width: 850px) {
    .f-left{
        margin-bottom: 30px;
    }
}
@media (max-width: 780px) {
    .hero-title h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .hero-text p {
        width: 100%;
        margin: 0 auto;
    }

    .hero-top {
        padding: 70px 70px 135px 70px;
    }
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }

    .bars {
        display: block
    }

    .header-row {
        align-items: center;
    }

    .paribahan-top .pari-text p {
        width: 520px;
        text-align: justify;
    }

    .points {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .car-title h3 {
        font-size: 25px;
    }

    .car-title p,
    .seat-text p {
        font-size: 16px;
    }
}


@media (max-width: 630px) {
    .hero-top {
        padding: 70px 45px 135px 45px;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .offer-card,
    .pink {
        width: 500px;
    }

    .dots {
        top: -25px;
        left: 270px;
    }

    .dots2 {
        bottom: -25px;
        left: 270px;
    }

    .blocks2 .dots {
        top: -22px;
        left: 246px;
    }

    .blocks2 .dots2 {
        bottom: -22px;
        left: 246px;
    }

    .pink {
        width: 575px;
        padding: 50px 35px;
    }

    .pink {
        width: 500px;
    }

    .car-seat {
        flex-wrap: wrap;
    }

    .seat {
        margin-top: 30px;
    }
    .footer-section {
        padding: 60px 70px;
    }  

}


@media (max-width: 530px) {

    .offer-card {
        width: 450px;
        padding: 35px 35px;
        align-items: center;
    }

    .card-title h2,
    .card-title h3 {
        font-size: 30px;
    }

    .card-text p,
    .card-text2 p {
        font-size: 18px;
    }

    .paribahan-top .pari-text p {
        width: 100%;
    }

    .dots {
        top: -28px;
        left: 240px;
    }

    .dots {
        top: -28px;
        left: 240px;
    }

    .blocks2 .dots {
        top: -35px;
        left: 174px;
    }

    .blocks2 .dots2 {
        bottom: -35px;
        left: 174px;
    }
    .f-text p{
        width: 100%;
        text-align: justify;
    }
    .fmenu {
        padding: 0;
        margin-top: 0;  
    }
    .fmenu li {
        margin-bottom: 10px;
    }
    .ftext p{
        width: 100%;
        text-align: justify;
    }
}

@media (max-width: 475px) {
    .header-btns {
        display: none;
    }

    .hero-top {
        padding: 50px 30px 35px 30px;
    }

    .header-row {
        background-size: cover;
    }

    .hero-title h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .hero-text p {
        text-align: justify;
    }

    .offer-card {
        width: 350px;
        padding: 20px 20px;
    }

    .dots {
        top: -35px;
        left: 184px;
    }

    .dots2 {
        bottom: -35px;
        left: 184px;
    }

    .card-text p,
    .card-text2 p {
        font-size: 16px;
    }

    .card-title h2,
    .card-title h3 {
        font-size: 26px;
    }

    .offer-title .offer {
        font-size: 30px;
    }

    .offer-btn a {
        padding: 5px 8px;
        font-size: 18px;
    }

    .paribahan-top .pari-title h2 {
        font-size: 30px;
    }

    .car-title h3 {
        margin-top: 8px;
    }

    .car {
        flex-wrap: wrap;
    }
    .footer-section {
        padding: 40px 35px;
    }
}